@using DetectPublicApiChanges.Report.Models
@using DetectPublicApiChanges.Report.Mvc
@inherits RazorEngine.Templating.TemplateBase<ReportViewModel>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>
    <style>
        @MyHtmlHelper.RenderCss()
        </style>
</head>
<body>
<div class="flex-container">
    <header>
        @RenderSection("Header")
    </header>

    <nav class="nav">
            @RenderSection("Navigation")
    </nav>

    <article class="article">
        @RenderSection("Main")
    </article>

    <footer>
        @RenderSection("Footer")
    </footer>
</div>
</body>
</html>